/* ********** */
/* common */
/* ********** */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif, Arial;
  padding: 20px 20px 0 20px; 
  /* background: grey; */
}
a{
  color: #919198;
  font-family: sans-serif; 
  text-decoration: none;
  display: inline-block;
}
a:hover{
  border-bottom: 3px solid #e47312;
}
/* ********** */
/* variables */
/* ********** */
:root {
  --theme-color: #e47312;
    --main-text-color: #919197;
    --section-bg-grey: #ddd;
}

.bg{
  width: 1620px;
  height: 700px;
  margin: 0 auto;
  background-image: linear-gradient(76deg, rgba(193, 195, 204, 0.83) 35%, rgba(193, 195, 204, 0.28) 65%), url("../images/Nuuk-img.jpg");
  background-size: cover;
  background-position: 0px 0px, 50% 0%;
  background-attachment: scroll fixed;
  position: relative;
  border: 1px solid white;
}
.head{
  margin: 30px 70px;
  display: flex;
}
/* **********
NAVBAR
********** */
.left{
  width: 220px;
  height: 150px;
  background-image: url("../images/logo-white.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  background-color: var(--theme-color);
  position: absolute;
  position: relative;
}
.navBar{
  height: 120px;
  width: 1400px;
  text-align: right;
  align-items: center;
  background-color: white;
}
.navBar a{
  font-family: sans-serif;
  letter-spacing: 1px;
  color: black;
  text-decoration: none;
  margin-right: 40px;
  margin-top: 50px;
  display: inline-block;
  font-weight: bold;

}
.navBar a:hover, .navBar .active{
  color: var(--theme-color);
}
.freeQuote  {
  background-color: var(--theme-color);
  /* padding: 51px; */
  width: 220px;
  height: 120px;
  text-align: center;
}
.freeQuote a{
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-top: 50px;
  display: inline-block;
}
.freeQuote:hover{
  background-color: #ee7a14;
}
.bg h1{
  font-family: monospace;
  color: white;
  font-size: 70px;
  margin: 0;   
}
.bg h1, p, .btn{
  margin-left: 70px;
}
.bg p{
  font-family: monospace;
  color: white;
  font-size: 24px;
}
.btn{
  border: none;
  color: white;
  background-color: var(--theme-color);
  padding: 24px 40px;
  margin-top: 20px;
}
.btn:hover{
  background-color: #ee7a14;
}

.contact{
  width: 1200px;
  height: 280px;
  /* background-color: #ee7a14; */
  background-image: linear-gradient(186deg, #e47312, #ff6361);
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 0;
  margin-right: 30px;
  bottom: -80px;
}
.contact ul li{
  list-style-type: none;
  color: white;
  font-family: monospace;
  font-size: 20px;
  margin-bottom: 20px;

}
.contact ul li a{
  text-decoration: none;
  color: white;
  font-family: monospace;
  font-size: 16px;
}
.services{
  font-family: monospace;
  margin-top: 200px;
  margin-left: 100px;   
  margin-right: 100px;   
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}
.services .resources{
  padding-bottom: 5px;

}
.services h1{
  margin: 0;
  font-size: 50px;
}
.serv-specs{
  display: flex;
  /* border: 2px solid black; */
  height: auto;
  width: auto;
  margin: 100px;
  justify-content: space-around;
}
.grids{
  width:100 px;
  height:400 px;
  /* border: 2px solid black; */
  margin: 40px;
  text-align: justify;
}
.grids img{
  width: 60px;
}
.grids h2{
  font-family: sans-serif;
  color: #121213;
}

.grids p{
  font-family: sans-serif;
  font-size: 17px;
  margin: 0;
  margin-bottom: 30px;
  color: #919197;
}
.grids a,.services a{
  color: #919198;
  font-family: sans-serif; 
  text-decoration: none;
  display: inline-block;
}
.grids a:hover,.services a:hover{
  border-bottom: 3px solid #e47312;
  transition: all 80ms;
}

a:hover {
  opacity: .9;
}
p {
  font-family: Dosis, sans-serif;
  color: var(--primary-text-color);
  font-size: 17px;
  line-height: 25px;
}
.link {
  padding-bottom: 5px;
  letter-spacing: 1px;
  color: var(--primary-text-color);
}
.link:hover {
  border-bottom: 1px solid var(--primary-bg-color);
}
.link.white {
  color: white;
}
.link.white:hover {
  border-bottom: 1px solid white;
}
ul {
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}
.common-social {
  background: var(--theme-color);
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.common-social.black {
  background: black;
  margin-right: 30px;
  margin-bottom: 200px;
}
.common-social a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ffffff38;
}
.common-social a:last-child {
  border-bottom: none;
}
.common-social img {
  width: 40%;
}
.common-section {
  margin: 100px 0;
  background: var(--section-bg-grey);
  padding: 90px 0 100px;
}
.common-section .heading {
  margin-bottom: 50px;
}
.common-section .heading h1 {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 42px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media screen and (max-width: 500px){
  .left{
    width: 100px;
    height: 80px;
    background-image: url("../images/logo-white.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    background-color: var(--theme-color);
    position: absolute;
    left: 0;
    top: 0;
    margin: 5px;
    /* position: relative; */
  }
  .navBar{
    display: none;
  }
  .freeQuote{
    width: 100px;
    height: 80px;
    position: absolute;
    left: 320px;
    top: 0;
    margin: 5px;
  }
  .freeQuote a{
    font-size: 14px;
    /* line-height: 0 */
    margin-top: 30px;
    align-items: center;
  }
  .hb h1{
    font-size: small;
  }
}


/* ******* */
/* our-specialization */
/* ******* */
.-specialization .specializations .specialization {
  width: calc(25% - 20px);
}
.our-specialization .specializations .specialization img {
  width: 60px;
}
.our-specialization .specializations .specialization h2 {
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.our-specialization .specializations .specialization p {
  margin-bottom: 10px;
  color: var(--primary-text-color);
}
.our-specialization .specializations .specialization a {
  margin-top: 15px;
  font-size: 13px;
}

/* ******* */
/* who-we-are */
/* ******* */
.who-we-are .meet-the-team {
  padding-bottom: 60px;
}
.who-we-are .meet-the-team .img,
.who-we-are .meet-the-team .content {
  width: calc(50% - 50px);
}
.who-we-are .meet-the-team .img img {
  width: 100%;
} 
.who-we-are .meet-the-team .content p {
  margin-bottom: 10px;
  margin: 20px 0;
}
.who-we-are .meet-the-team .content a {
  margin-top: 30px;
  display: inline-block;
}
.who-we-are .facts .fact {
  width: calc(25% - 20px);
  justify-content: space-between;
}
.who-we-are .facts .fact h2 {
  margin-bottom: 10px;
  color: var(--theme-color);
  font-size: 60px;
  line-height: 70px;
  font-weight: 500;
}
.who-we-are .facts .fact p {
  margin-bottom: 10px;
  width: 150px;
  margin: 20px 0;
}


/* ******* */
/* our works */
/* ******* */
.our-work .projects {
  flex-wrap: wrap;
}
.our-work .projects .project {
  width: calc(33.33% - 20px);
  position: relative;
  margin-bottom: 30px;
}
.our-work .projects .project img {
  width: 100%;
  display: block;
}
.our-work .projects .project .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
}
.our-work .projects .project:hover .overlay {
  display: flex;
}
.our-work .projects .project .overlay span {
  background: var(--theme-color);
  color: white;
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
}

/* ******* */
/* quote */
/* ******* */
.quote {
  background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)), url(images/banner-2.jpg);
  background-position: 0px 0px, center;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  padding: 80px 0;
  text-align: center;
  color: #fff;
  margin: 100px 0;
}
.quote h1 {
  margin-top: 0;
}
.quote p {
  margin-bottom: 40px;
  color: white;
}

/* ******* */
/* professionals */
/* ******* */
.professionals .members .member {
  width: calc(25% - 20px);
  position: relative;
}
.professionals .members .member .member-img {
  height: 240px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
.professionals .members .member .t1 {
  background-image: url('images/team-1.jpg');
}
.professionals .members .member .t2 {
  background-image: url('images/team-2.jpg');
}
.professionals .members .member .t3 {
  background-image: url('images/team-3.jpg');
}
.professionals .members .member .t4 {
  background-image: url('images/team-4.jpg');
}
.professionals .members .member .content {
  background: white;
  padding: 20px 15px;
}
.professionals .members .member .content h2, 
.professionals .members .member .content p {
  margin: 0;
}
.professionals .members .member .content h2 {
  font-size: 18px;
  margin-bottom: 15px;
} 
.professionals .members .member .content p {
  color: var(--main-text-color);
}

/* ******* */
/* testimonials */
/* ******* */

.testimonials .heading-outer {
  width: calc(40% - 50px);
}
.testimonials .heading-outer p{
  margin: 20px 0;
}

.testimonials .heading-outer a {
  display: inline-block;
  margin-top: 20px;
}
.testimonials .lists {
  width: calc(60% - 50px);
}
.testimonials .lists {
  flex-wrap: wrap;
  /* margin: 0 ; */
}
.testimonials .lists .testimonial {
  width: calc(50% - 20px);
  background: white;
  margin-bottom: 70px;
  text-align: center;
  padding: 30px 15px 15px;
  position: relative;
}
.testimonials .lists .testimonial p {
  margin: 20px 0;
  color: var(--main-text-color) ;
}

.testimonials .lists .testimonial:nth-child(2) {
  margin-top: 110px;
}
.testimonials .lists .testimonial:nth-child(3) {
  margin-top: -110px;
  margin-bottom: 0;
}
.testimonials .lists .testimonial:nth-child(4) {
  margin-bottom: 0;
}
.testimonials .lists .testimonial .highlight {
  position: absolute;
  width: 60px;
  height: 60px;
  background: var(--theme-color);
  border-radius: 50%;
  color: #fff;
  font-size: 71px;
  padding-top: 40px;
  justify-content: center;
  left: 50%;
  top: -30px;
  transform: translateX(-30px);
}
.testimonials .lists .testimonial h2 {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;  
}
.testimonials .lists .testimonial h3 {
  margin-bottom: 0px;
  color: #bdbdc9;
  font-size: 16px;  
}
.testimonials .lists .testimonial p {
  margin-top: 15px;
  margin-bottom: 0px;
}
/***********/
/*LATEST NEWS*/
/***********/
.latest-news .heading{
  justify-content: space-between;
  margin: 100px;
}
.latest-news .news-cards{
  width: 470px;
  height: 600px;
  background-image: linear-gradient(186deg, #e47312, #ff6361);
  margin-bottom: 100px;
  position: relative;
}
.infos{
  padding: 30px;
  color: white;
}

.latest-news .news-cards .cardn{
  width: 100%; 
}
.news-box{
  justify-content: space-around;
}
.latest-news .news-cards .date{
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-image: linear-gradient(186deg, #e47312, #ff6361);
  text-align: center;
  line-height: 2.5;
}
.latest-news .news-cards .month{
  position: absolute;
  right: 0;
  top: 80px;
  background-color: white;
  width: 80px;
  height: 50px;
  text-align: center;
  align-items: center;
}
.latest-news .news-cards p{
  margin: 0;
  line-height: 3;
  color: var(--main-text-color);
}

.latest-news .news-cards .date h3{
  margin: 0;
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.infos a{
  color: white;
  margin-top: 30px;
}
.infos a:hover{
  border-bottom: 3px solid white;
}
/***********/
/*Companies*/
/***********/
.companies{
  width: 1650px;
  height: 200px;
  background-image: linear-gradient(186deg, #e47312, #ff6361);
  justify-content: space-around;
}
.companies h3{
  color: white;
}
.companies a{
  font-size: 30px;
  color: white;
  font-weight: bolder;
}


/* ******* */
/* footer */
/* ******* */
footer {
  width: 1500px;
  margin: 0 auto;
  padding: 80px 0 0;
  background: black;
  color: white;
}
footer p {
  color: white;
}
footer .link {
  color: white;
}
footer .primary {
  align-items: flex-start;
}
footer .primary .about,
footer .primary .servicesf,
footer .primary .contact-f {
  width: calc(33.33% - 30px);
}
footer .primary .about p{
  margin : 20px 0;
}
footer .primary .infos p{
  margin : 20px 0;
}
footer .primary .servicesf a{
  margin-bottom: 10px ;
}
footer .primary a:hover{
  margin-bottom: 3px solid white;
}
footer .primary .infos .info {
  background-repeat: no-repeat;
  background-size: 28px;
  padding-left: 40px;
  margin-bottom: 40px;
}
footer .primary .infos .info.phone {
  background-image: url('../images/phone.svg');
}
footer .primary .infos .info.time {
  background-image: url('../images/clock.svg');
}
footer .primary .infos .info.email {
  background-image: url('../images/mail.svg');
}

footer .logo {
  display: inline-flex;
  height: 110px;
  padding: 0 35px;
  background: var(--theme-color);
}
footer .logo img {
  width: 100px;
}